$main-content-background: #fafafa; // Background color of posts, navigation bar, side panel, etc.
$main-content-border: #dae0e6; // Border color of posts, navigation bar, side panel, etc.
$main-content-icon-hover: #dbdbdb; // Display on icons when users interact with them. 
$main-content-upvote: #cc3700; // Indicates user activity on the up vote buttons. 
$main-content-downvote: #5a75cc; // Indicates user activity on the down vote buttons.
$main-content-font-color: #878A8C;
$main-content-button: #0079d3;
$main-content-button-hover: #1484d7;
$main-content-logo: #ff4500;
$main-content-input-border: #edeff1;
$main-content-input-background: #f6f7f8;
$main-content-trending-up: #48d162;
$main-content-secondary-button: #1483d6;
$main-content-secondary-button-background-hover: #e3edf6;
$main-content-secondary-button-background: #f5fafe;