<div class="container">
  <div class="post-container">
    <div class="post-selection">
      <div class="filter-container">
        <div class="post-filter">
          <span>
            <i class="fa-solid fa-fire"></i>
            <span>Hot</span>
          </span>
        </div>
        <div class="post-filter">
          <span>
            <i class="fa-solid fa-certificate"></i>
            <span>New</span>
          </span>
        </div>
        <div class="post-filter">
          <span>
            <i class="fa-solid fa-trophy"></i>
            <span>Top</span>
          </span>
        </div>
      </div>
    </div>
    <app-user-post-list></app-user-post-list>
  </div>
  <div class="side-bar">
    <div class="trending">
      <div class="header">
        <h4>Top Sports Communities</h4>
      </div>
      <div class="trending-list">
        <div class="trending-item">
          <span>1</span>
          <i class="fa-solid fa-angle-up"></i>
          <img src="https://styles.redditmedia.com/t5_2qgzy/styles/communityIcon_rvt3zjh1fc551.png"/>
          <span>r/sports</span>
        </div>
        <div class="trending-item">
          <span>2</span>
          <i class="fa-solid fa-angle-up"></i>
          <img src="https://b.thumbs.redditmedia.com/JGr0BtccIxlp8u8bnrEsJZf8YZKMk6g4u3C90dvhxbk.png"/>
          <span>r/soccer</span>
        </div>
        <div class="trending-item">
          <span>3</span>
          <i class="fa-solid fa-angle-up"></i>
          <img src="https://styles.redditmedia.com/t5_2qhcs/styles/communityIcon_gxrgkk0azli81.png"/>
          <span>r/golf</span>
        </div>
        <div class="trending-item">
          <span>4</span>
          <i class="fa-solid fa-angle-up"></i>
          <img src="https://styles.redditmedia.com/t5_2qiel/styles/communityIcon_r712jfvgcmk81.jpg?format=pjpg&s=8a00acb5002495fb58da971a27e6ff9a1ad50bf8"/>
          <span>r/hockey</span>
        </div>
        <div class="trending-item">
          <span>5</span>
          <i class="fa-solid fa-angle-up"></i>
          <img src="https://styles.redditmedia.com/t5_2rj3j/styles/communityIcon_sylsng7ewyn81.png"/>
          <span>r/collegebasketball</span>
        </div>
      </div>
      <button class="full">View All</button>
      <div class="suggested-trending">
        <button>Top</button>
        <button>Near You</button>
        <button>News</button>
        <button>Aww</button>
      </div>
    </div>
    <div class="premium">
      <span class="title">Reddit Premium</span>
      <span class="sub-title">The best experience, with monthly Coins</span>
      <button class="full">Try Now</button>
    </div>
    <div class="subreddit-info">
      <div><span>r/all</span></div>
      <div><span class="sub-title">The most active posts from all of Reddit. Come here to see new posts rising and be a part of the conversation.</span></div>
      <button class="full">Create Post</button>
      <button class="full secondary">Create Community</button>
    </div>
  </div>
</div>