<div class="container">
  <div class="post-container">
    <div class="post-selection">
      <div class="filter-container">
        <div class="post-filter">
          <span>
            <i class="fa-solid fa-fire"></i>
            <span>Hot</span>
          </span>
        </div>
        <div class="post-filter">
          <span>
            <i class="fa-solid fa-certificate"></i>
            <span>New</span>
          </span>
        </div>
        <div class="post-filter">
          <span>
            <i class="fa-solid fa-trophy"></i>
            <span>Top</span>
          </span>
        </div>
      </div>
    </div>
    <app-user-post-list></app-user-post-list>
  </div>
  <div class="side-bar">
    <div class="trending"></div>
  </div>
</div>