<div class="nav-bar">
  <div class="logo-container">
    <div class="logo"></div>
    <div>reddit</div>
  </div>
  <div class="subreddits">
    <select>
      <option>All</option>
    </select>
  </div>
  <div class="search-bar">
    <input type="text" placeholder="Search Reddit">
  </div>
  <div class="icon-container">
    <div class="add-spacer">
      <i class="fa-solid fa-arrow-up-right-dots" title="Popular"></i>
      <i class="fa-solid fa-house-user" title="All"></i>
      <i class="fa-solid fa-video" title="Reddit Live"></i>
    </div>
    <div>
      <i class="fa-regular fa-comment-dots" title="Chat"></i>
      <i class="fa-regular fa-bell" title="Notifications"></i>
      <i class="fa-solid fa-plus" title="Create a Post"></i>
    </div>
    <div class="user">
      <span>Rinktacular</span>
      <i class="fa-solid fa-angle-down" title="Profile Settings"></i>
    </div>
  </div>  
</div>